@media all and (min-width: 1171px) {
    .slider {
        width: 100vw;
        height: 100vh;
    }
}

@media all and (min-width: 992px) and (max-width: 1170px) {
    .slider {
        height: 70vh;
        width: auto;
        
    }
}
