body {
    margin: 0;
}

.slider {
    background-image: url(obrazy/man-1.jpg);
    background-position: 40% 40%;
    position: relative;
}

.napis {
    font-family: 'Verdana';
    font-variant: small-caps;
    position: absolute;
    
}
